@model List<City>
@{

    ViewBag.Title = "Limit no of posts";
}
<h2>Limit no of posts</h2>

<table class="table table-bordered">
    <tr>
        <td>Id </td>
        <td>Name</td>
        <td>CountryCode</td>
        <td>District</td>
        <td>Population</td>

    </tr>

    @foreach (City city in @Model)
    {
        <tr>
            <td>@city.Id </td>
            <td>@city.Name</td>
            <td>@city.CountryCode</td>
            <td>@city.District</td>
            <td>@city.Population</td>
        </tr>
    }

</table>